
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000");
    background-repeat: no-repeat;
}
.about{
    position: center;
}
.header {
    position: center;
    background-color: red;
    padding: 20px;
}

.header h1 {
    position: center;
    color: white;
    margin: 0;
}

.content {
    display: flex;
    align-items: flex-start;
    padding: 20px;
}

.photo {
    position: center;
}

.photo img {
    max-width: 100%;
    height: 420px;
    border-radius: 10px;
    width: 420px;

}

.hobbies {
    flex: 2;
    margin-left: 20px;
}

.hobbies h2 {
    color: red;
}

.hobbies ul {
    list-style-type: disc;
    padding-left: 20px;
}
.info{
    position: center;
    background-color: rgba(255, 0, 0, 0);
    padding: 20px;
}
.info h2{
    
    position: center;
    color: red;
}