body {
    background-color: bisque;
    align-items: center;
    background-size: 1920px 1080px;
    background-image: url("https://media.istockphoto.com/id/1269109174/vector/watercolor-background-abstract-pastel-color-gradient-with-soft-texture.jpg?s=612x612&w=0&k=20&c=G4z8WfngYdUnRYDZTss15iJEUxixUqHS2ePVczMB0x8=");
background-repeat: no-repeat;
}
table {
text-align: center;
table-layout: auto;
   margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: auto;
    height: auto;
    
}
h1 {
    text-align: center;
    font-size: 50px;
    font-family: Arial, sans-serif;
    color: black;
    text-decoration: dotted;
}
th, td {
    border: 10px solid rgba(0, 0, 0, 0.355);
    padding: 10px;
}

th {
    background-color: lightgray;
}
